<!--body {background-image: url('../Screenshot 2025-06-03 at 7.11.44.png'); background-repeat: no-repeat; background-attachment: fixed;  background-size: 100% 100%; }-->
<!--body {background-color: #ffffff}-->
p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 14.0px Verdana; color: #032658; -webkit-text-stroke: #032658}
p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; font: 18.0px Verdana; color: #032658; -webkit-text-stroke: #032658; min-height: 14.0px}
p.p4:after {content:' '; display:block; border:2px solid #d0d0d0;}
p.p5 {margin: 0.0px 0.0px 0.0px 0.0px; font: 14.0px Verdana; color: #fba714; -webkit-text-stroke: #fba714}

span.s1 {font-kerning: none}
span.s2 {text-decoration: underline ; font-kerning: none}
a:link {color: #fba714;}
a:visited {color: #29009c; background-color: transparent; text-decoration: underline;}

.button {border: none; color: white; padding: 5px 16px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; margin: 0px 0px; transition-duration: 0.3s; cursor: pointer;}
.button1 {background-color: #f7f3dc; color: black;}
.button1:hover {background-color: #9FD1FF; color: #C09748;}
.button2 {background-color: white; color: black; border: 2px solid #008CBA;}
.button2:hover {background-color: #008CBA; color: white;}

.center {margin: auto; text-align: center; width: 35%; padding: 0px;}
